.button {
        font-size: 10px;
        width: 97px;
        height: 40px;
}

#emergency {
        color: red;
}

#location {
        text-align: center;
}

#title {
        text-decoration: underline;
}

li {
        list-style-type: none;
}

#bottom_logo {
        padding-left: 240px;
}

.bottom_title_panel {
        margin-top: 25px;
}